extends layout

block content
    .container.mt-5
        h1.text-center.my-3.text-primary My Bookings
        p.text-center.text-muted Manage and view your appointments below.
        if bookings.length > 0
            .row.justify-content-center.mt-4
                each booking in bookings
                    .col-md-6.mb-4
                        .card.shadow-sm
                            .card-body
                                h5.card-title.text-center.text-success Booking ##{booking.booking_id}
                                hr
                                p Service:
                                    span.text-primary #{booking.service_name}
                                p Appointment Date:
                                    span.text-dark #{booking.appointment_date}
                                form(method="post", action="/booking/cancel", class="d-flex justify-content-center mt-4")
                                    input(type="hidden", name="_csrf", value=csrfToken)
                                    input(type="hidden", name="booking_id", value=booking.booking_id)
                                    button.btn.btn-danger.btn-sm(type="submit") Cancel Booking
        else
            .text-center.mt-5
                i.text-muted.fa.fa-calendar-times.fa-3x
                p.mt-3.text-muted No bookings found. Start by booking a service!
                a.btn.btn-primary.mt-3(href="/services") Browse Services